{
  "experimentalTernaries": true,
  "semi": false,
  "importOrder": ["^@/(.*)$", "^@/assets/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
