.wrap {
  height: 100%;

  :global {
    .title {
      margin-bottom: var(--gap-xl);

      font: var(--font-heading-m);
    }

    .ant-tabs {
      margin-bottom: var(--gap-xl);
    }

    .ant-form {
      width: 100%;
      max-width: 364px;

      margin-bottom: var(--gap-xs);
    }

    .ant-btn {
      width: 100%;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .password-input .form-control-label {
      display: flex;
    }

    .password-label {
      display: flex;

      flex: 1;

      align-items: flex-end;
      justify-content: space-between;

      a {
        font: var(--font-caption-s);
      }
    }

    .tg-widget > iframe {
      display: block;

      margin: 0 auto;
    }
  }
}
