:root {
  /**
  * @tokens BorderRadiuses
  * @presenter BorderRadius
  */

  --radius-3xs: 4px;
  --radius-2xs: 6px;
  --radius-xs: 8px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-2xl: 32px;
  --radius-3xl: 64px;
  --radius-circle: 50%;

  /**
  * @tokens-end
  */
}
