:root {
  /**
  * @tokens Colors
  * @presenter Color
  */

  --color-base-white: #ffffff;
  --color-base-black: #000000;

  --color-red-900: #9a1a1b;
  --color-red-800: #bb1a1c;
  --color-red-700: #de2426;
  --color-red-600: #ef2c2e;
  --color-red-500: #f97071;
  --color-red-400: #fda4a5;
  --color-red-300: #ffc9ca;
  --color-red-200: #fee2e2;
  --color-red-100: #fff1f1;

  --color-orange-900: #992e13;
  --color-orange-800: #c0390e;
  --color-orange-700: #e84e0e;
  --color-orange-600: #f76818;
  --color-orange-500: #f9883e;
  --color-orange-400: #fcb375;
  --color-orange-300: #fdd3ab;
  --color-orange-200: #ffebd5;
  --color-orange-100: #fff6ed;

  --color-yellow-900: #874d00;
  --color-yellow-800: #ad6800;
  --color-yellow-700: #d48806;
  --color-yellow-600: #faad14;
  --color-yellow-500: #ffc53d;
  --color-yellow-400: #ffd666;
  --color-yellow-300: #ffe58f;
  --color-yellow-200: #fff1b8;
  --color-yellow-100: #fffbe6;

  --color-green-900: #2a6014;
  --color-green-800: #317912;
  --color-green-700: #3d9f11;
  --color-green-600: #52c41a;
  --color-green-500: #74e239;
  --color-green-400: #98ef67;
  --color-green-300: #c0f79f;
  --color-green-200: #dffbcc;
  --color-green-100: #f1fde8;

  --color-turquoise-900: #154c4c;
  --color-turquoise-800: #145a5b;
  --color-turquoise-700: #127371;
  --color-turquoise-600: #11908c;
  --color-turquoise-500: #19b3ac;
  --color-turquoise-400: #41d2c9;
  --color-turquoise-300: #63e5d9;
  --color-turquoise-200: #9cf3e8;
  --color-turquoise-100: #cef9f3;

  --color-blue-900: #0f5cbe;
  --color-blue-800: #0a73eb;
  --color-blue-700: #1890ff;
  --color-blue-600: #28a9ff;
  --color-blue-500: #50c7ff;
  --color-blue-400: #88ddff;
  --color-blue-300: #b9e8ff;
  --color-blue-200: #d7f1ff;
  --color-blue-100: #edfaff;

  --color-dark-blue-900: #293586;
  --color-dark-blue-800: #2936aa;
  --color-dark-blue-700: #2f3cd3;
  --color-dark-blue-600: #3d50ee;
  --color-dark-blue-500: #5b77f9;
  --color-dark-blue-400: #7598ff;
  --color-dark-blue-300: #a0c0ff;
  --color-dark-blue-200: #bdd7ff;
  --color-dark-blue-100: #dae8ff;

  --color-grape-900: #5e2b64;
  --color-grape-800: #6f3078;
  --color-grape-700: #863893;
  --color-grape-600: #a047b2;
  --color-grape-500: #bb66cf;
  --color-grape-400: #d293e1;
  --color-grape-300: #e2baed;
  --color-grape-200: #eed9f5;
  --color-grape-100: #f7ecfb;

  --color-neutral-950: #141414;
  --color-neutral-900: #1f1f1f;
  --color-neutral-800: #262626;
  --color-neutral-700: #434343;
  --color-neutral-600: #595959;
  --color-neutral-500: #8c8c8c;
  --color-neutral-400: #bfbfbf;
  --color-neutral-300: #d9d9d9;
  --color-neutral-200: #f0f0f0;
  --color-neutral-100: #f5f5f5;
  --color-neutral-50: #fafafa;

  --color-transparent-light-900: rgba(246, 245, 245, 90%);
  --color-transparent-light-800: rgba(246, 245, 245, 80%);
  --color-transparent-light-700: rgba(246, 245, 245, 70%);
  --color-transparent-light-600: rgba(246, 245, 245, 60%);
  --color-transparent-light-500: rgba(246, 245, 245, 50%);
  --color-transparent-light-400: rgba(246, 245, 245, 40%);
  --color-transparent-light-300: rgba(246, 245, 245, 30%);
  --color-transparent-light-200: rgba(246, 245, 245, 20%);
  --color-transparent-light-150: rgba(246, 245, 245, 15%);
  --color-transparent-light-100: rgba(246, 245, 245, 10%);
  --color-transparent-light-50: rgba(246, 245, 245, 5%);

  --color-transparent-dark-900: rgba(61, 60, 60, 90%);
  --color-transparent-dark-800: rgba(61, 60, 60, 80%);
  --color-transparent-dark-700: rgba(61, 60, 60, 70%);
  --color-transparent-dark-600: rgba(61, 60, 60, 60%);
  --color-transparent-dark-500: rgba(61, 60, 60, 50%);
  --color-transparent-dark-400: rgba(61, 60, 60, 40%);
  --color-transparent-dark-300: rgba(61, 60, 60, 30%);
  --color-transparent-dark-200: rgba(61, 60, 60, 20%);
  --color-transparent-dark-150: rgba(61, 60, 60, 15%);
  --color-transparent-dark-100: rgba(61, 60, 60, 10%);
  --color-transparent-dark-50: rgba(61, 60, 60, 5%);

  /**
  * @tokens-end
  */
}
