:root {
  /**
  * @tokens Spacings
  * @presenter Spacing
  */

  --gap-0: 0;
  --gap-6xs: 2px;
  --gap-5xs: 4px;
  --gap-4xs: 6px;
  --gap-3xs: 8px;
  --gap-2xs: 10px;
  --gap-xs: 12px;
  --gap-sm: 14px;
  --gap-md: 16px;
  --gap-lg: 20px;
  --gap-xl: 24px;
  --gap-2xl: 32px;
  --gap-3xl: 48px;
  --gap-4xl: 64px;
  --gap-5xl: 96px;

  /**
  * @tokens-end
  */
}
