:root {
  --opacity-1000: 100%;
  --opacity-800: 80%;
  --opacity-600: 60%;
  --opacity-500: 50%;
  --opacity-400: 40%;
  --opacity-300: 30%;
  --opacity-200: 20%;
  --opacity-150: 15%;
  --opacity-100: 10%;
  --opacity-50: 5%;
  --opacity-0: 0%;
}
