html[data-theme="light"] {
  --color-border-primary: var(--color-neutral-400);
  --color-border-secondary: var(--color-neutral-300);
  --color-border-tertiary: var(--color-neutral-200);
  --color-border-accent: var(--color-orange-600);
  --color-border-accent-soft: var(--color-orange-400);
  --color-border-accent-muted: var(--color-orange-200);
  --color-border-accent-alt: var(--color-orange-600);
  --color-border-error: var(--color-red-600);
  --color-border-error-soft: var(--color-red-400);
  --color-border-error-muted: var(--color-red-200);
  --color-border-error-alt: var(--color-red-600);
  --color-border-warning: var(--color-yellow-600);
  --color-border-warning-soft: var(--color-yellow-400);
  --color-border-warning-muted: var(--color-yellow-200);
  --color-border-warning-alt: var(--color-yellow-600);
  --color-border-success: var(--color-green-600);
  --color-border-success-soft: var(--color-green-400);
  --color-border-success-muted: var(--color-green-200);
  --color-border-success-alt: var(--color-green-600);
  --color-border-info: var(--color-blue-600);
  --color-border-info-soft: var(--color-blue-400);
  --color-border-info-muted: var(--color-blue-200);
  --color-border-info-alt: var(--color-blue-600);
  --color-border-grape: var(--color-grape-600);
  --color-border-grape-soft: var(--color-grape-400);
  --color-border-grape-muted: var(--color-grape-200);
  --color-border-dark-blue: var(--color-dark-blue-600);
  --color-border-dark-blue-soft: var(--color-dark-blue-400);
  --color-border-dark-blue-muted: var(--color-dark-blue-200);
  --color-border-turquoise: var(--color-turquoise-600);
  --color-border-turquoise-soft: var(--color-turquoise-400);
  --color-border-turquoise-muted: var(--color-turquoise-200);

  --color-icon-primary: var(--color-neutral-950);
  --color-icon-secondary: var(--color-neutral-500);
  --color-icon-tertiary: var(--color-neutral-400);
  --color-icon-disabled: var(--color-neutral-300);
  --color-icon-accent: var(--color-orange-600);
  --color-icon-accent-hover: var(--color-orange-500);
  --color-icon-accent-pale: var(--color-orange-400);
  --color-icon-accent-soft: var(--color-orange-100);
  --color-icon-accent-alt: var(--color-orange-600);
  --color-icon-accent-alt-hover: var(--color-orange-500);
  --color-icon-error: var(--color-red-600);
  --color-icon-error-hover: var(--color-red-500);
  --color-icon-error-pale: var(--color-red-400);
  --color-icon-error-alt: var(--color-red-600);
  --color-icon-error-alt-hover: var(--color-red-500);
  --color-icon-warning: var(--color-yellow-600);
  --color-icon-warning-hover: var(--color-yellow-500);
  --color-icon-warning-pale: var(--color-yellow-400);
  --color-icon-warning-alt: var(--color-yellow-600);
  --color-icon-warning-alt-hover: var(--color-yellow-500);
  --color-icon-success: var(--color-green-600);
  --color-icon-success-hover: var(--color-green-500);
  --color-icon-success-pale: var(--color-green-400);
  --color-icon-success-alt: var(--color-green-600);
  --color-icon-success-alt-hover: var(--color-green-500);
  --color-icon-info: var(--color-blue-600);
  --color-icon-info-hover: var(--color-blue-500);
  --color-icon-info-pale: var(--color-blue-400);
  --color-icon-info-alt: var(--color-blue-600);
  --color-icon-info-alt-hover: var(--color-blue-500);
  --color-icon-grape: var(--color-grape-600);
  --color-icon-grape-alt: var(--color-grape-600);
  --color-icon-dark-blue: var(--color-dark-blue-600);
  --color-icon-dark-blue-alt: var(--color-dark-blue-600);
  --color-icon-turquoise: var(--color-turquoise-600);
  --color-icon-turquoise-alt: var(--color-turquoise-600);
  --color-icon-on-color: var(--color-neutral-50);

  --color-surface-base-page: var(--color-neutral-200);
  --color-surface-base-background: var(--color-base-white);
  --color-surface-base-primary: var(--color-base-white);
  --color-surface-base-primary-hover: var(--color-neutral-50);
  --color-surface-base-primary-pressed: var(--color-neutral-100);
  --color-surface-base-secondary: var(--color-neutral-50);
  --color-surface-base-secondary-hover: var(--color-neutral-100);
  --color-surface-base-secondary-pressed: var(--color-neutral-200);
  --color-surface-base-tertiary: var(--color-neutral-200);
  --color-surface-base-tertiary-hover: var(--color-neutral-300);
  --color-surface-base-tertiary-pressed: var(--color-neutral-400);
  --color-surface-base-quaternary: var(--color-neutral-300);
  --color-surface-base-quaternary-hover: var(--color-neutral-400);
  --color-surface-base-quaternary-pressed: var(--color-neutral-500);

  --color-surface-elements-accent: var(--color-orange-600);
  --color-surface-elements-accent-hover: var(--color-orange-700);
  --color-surface-elements-accent-pressed: var(--color-orange-800);
  --color-surface-elements-sub-accent: var(--color-orange-100);
  --color-surface-elements-sub-accent-hover: var(--color-orange-200);
  --color-surface-elements-sub-accent-pressed: var(--color-orange-300);
  --color-surface-elements-error: var(--color-red-600);
  --color-surface-elements-error-hover: var(--color-red-700);
  --color-surface-elements-error-pressed: var(--color-red-800);
  --color-surface-elements-sub-error: var(--color-red-100);
  --color-surface-elements-sub-error-hover: var(--color-red-200);
  --color-surface-elements-sub-error-pressed: var(--color-red-300);
  --color-surface-elements-warning: var(--color-yellow-600);
  --color-surface-elements-warning-hover: var(--color-yellow-700);
  --color-surface-elements-warning-pressed: var(--color-yellow-800);
  --color-surface-elements-sub-warning: var(--color-yellow-100);
  --color-surface-elements-sub-warning-hover: var(--color-yellow-200);
  --color-surface-elements-sub-warning-pressed: var(--color-yellow-300);
  --color-surface-elements-success: var(--color-green-600);
  --color-surface-elements-success-hover: var(--color-green-700);
  --color-surface-elements-success-pressed: var(--color-green-800);
  --color-surface-elements-sub-success: var(--color-green-100);
  --color-surface-elements-sub-success-hover: var(--color-green-200);
  --color-surface-elements-sub-success-pressed: var(--color-green-300);
  --color-surface-elements-info: var(--color-blue-600);
  --color-surface-elements-info-hover: var(--color-blue-700);
  --color-surface-elements-info-pressed: var(--color-blue-800);
  --color-surface-elements-sub-info: var(--color-blue-100);
  --color-surface-elements-sub-info-hover: var(--color-blue-200);
  --color-surface-elements-sub-info-pressed: var(--color-blue-300);
  --color-surface-elements-grape: var(--color-grape-600);
  --color-surface-elements-sub-grape: var(--color-grape-100);
  --color-surface-elements-sub-grape-hover: var(--color-grape-200);
  --color-surface-elements-dark-blue: var(--color-dark-blue-600);
  --color-surface-elements-sub-dark-blue: var(--color-dark-blue-100);
  --color-surface-elements-sub-dark-blue-hover: var(--color-dark-blue-200);
  --color-surface-elements-turquoise: var(--color-turquoise-600);
  --color-surface-elements-sub-turquoise: var(--color-turquoise-100);
  --color-surface-elements-sub-turquoise-hover: var(--color-turquoise-200);

  --color-text-primary: var(--color-neutral-950);
  --color-text-secondary: var(--color-neutral-500);
  --color-text-tertiary: var(--color-neutral-400);
  --color-text-disabled: var(--color-neutral-300);
  --color-text-accent: var(--color-orange-600);
  --color-text-accent-hover: var(--color-orange-500);
  --color-text-accent-disabled: var(--color-orange-400);
  --color-text-accent-alt: var(--color-orange-600);
  --color-text-accent-alt-hover: var(--color-orange-500);
  --color-text-error: var(--color-red-600);
  --color-text-error-hover: var(--color-red-500);
  --color-text-error-disabled: var(--color-red-400);
  --color-text-error-alt: var(--color-red-600);
  --color-text-error-alt-hover: var(--color-red-500);
  --color-text-warning: var(--color-yellow-600);
  --color-text-warning-hover: var(--color-yellow-500);
  --color-text-warning-disabled: var(--color-yellow-400);
  --color-text-warning-alt: var(--color-yellow-600);
  --color-text-warning-alt-hover: var(--color-yellow-500);
  --color-text-success: var(--color-green-600);
  --color-text-success-hover: var(--color-green-500);
  --color-text-success-disabled: var(--color-green-400);
  --color-text-success-alt: var(--color-green-600);
  --color-text-success-alt-hover: var(--color-green-500);
  --color-text-info: var(--color-blue-600);
  --color-text-info-hover: var(--color-blue-500);
  --color-text-info-disabled: var(--color-blue-400);
  --color-text-info-alt: var(--color-blue-600);
  --color-text-info-alt-hover: var(--color-blue-500);
  --color-text-grape: var(--color-grape-600);
  --color-text-grape-alt: var(--color-grape-600);
  --color-text-dark-blue: var(--color-dark-blue-600);
  --color-text-dark-blue-alt: var(--color-dark-blue-600);
  --color-text-turquoise: var(--color-turquoise-600);
  --color-text-turquoise-alt: var(--color-turquoise-600);
  --color-text-on-color: var(--color-neutral-50);
}

html[data-theme="dark"] {
  --color-border-primary: var(--color-neutral-500);
  --color-border-secondary: var(--color-neutral-600);
  --color-border-tertiary: var(--color-neutral-700);
  --color-border-accent: var(--color-orange-600);
  --color-border-accent-soft: var(--color-orange-700);
  --color-border-accent-muted: var(--color-orange-800);
  --color-border-accent-alt: var(--color-orange-200);
  --color-border-error: var(--color-red-600);
  --color-border-error-soft: var(--color-red-700);
  --color-border-error-muted: var(--color-red-800);
  --color-border-error-alt: var(--color-red-200);
  --color-border-warning: var(--color-yellow-600);
  --color-border-warning-soft: var(--color-yellow-700);
  --color-border-warning-muted: var(--color-yellow-800);
  --color-border-warning-alt: var(--color-yellow-200);
  --color-border-success: var(--color-green-600);
  --color-border-success-soft: var(--color-green-700);
  --color-border-success-muted: var(--color-green-800);
  --color-border-success-alt: var(--color-green-200);
  --color-border-info: var(--color-blue-600);
  --color-border-info-soft: var(--color-blue-700);
  --color-border-info-muted: var(--color-blue-800);
  --color-border-info-alt: var(--color-blue-200);
  --color-border-grape: var(--color-grape-600);
  --color-border-grape-soft: var(--color-grape-700);
  --color-border-grape-muted: var(--color-grape-800);
  --color-border-dark-blue: var(--color-dark-blue-600);
  --color-border-dark-blue-soft: var(--color-dark-blue-700);
  --color-border-dark-blue-muted: var(--color-dark-blue-800);
  --color-border-turquoise: var(--color-turquoise-600);
  --color-border-turquoise-soft: var(--color-turquoise-700);
  --color-border-turquoise-muted: var(--color-turquoise-800);

  --color-icon-primary: var(--color-neutral-50);
  --color-icon-secondary: var(--color-neutral-400);
  --color-icon-tertiary: var(--color-neutral-500);
  --color-icon-disabled: var(--color-neutral-600);
  --color-icon-accent: var(--color-orange-600);
  --color-icon-accent-hover: var(--color-orange-700);
  --color-icon-accent-pale: var(--color-orange-800);
  --color-icon-accent-soft: var(--color-orange-900);
  --color-icon-accent-alt: var(--color-orange-200);
  --color-icon-accent-alt-hover: var(--color-orange-300);
  --color-icon-error: var(--color-red-600);
  --color-icon-error-hover: var(--color-red-700);
  --color-icon-error-pale: var(--color-red-500);
  --color-icon-error-alt: var(--color-red-200);
  --color-icon-error-alt-hover: var(--color-red-300);
  --color-icon-warning: var(--color-yellow-600);
  --color-icon-warning-hover: var(--color-yellow-700);
  --color-icon-warning-pale: var(--color-yellow-500);
  --color-icon-warning-alt: var(--color-yellow-200);
  --color-icon-warning-alt-hover: var(--color-yellow-300);
  --color-icon-success: var(--color-green-600);
  --color-icon-success-hover: var(--color-green-700);
  --color-icon-success-pale: var(--color-green-500);
  --color-icon-success-alt: var(--color-green-200);
  --color-icon-success-alt-hover: var(--color-green-300);
  --color-icon-info: var(--color-blue-600);
  --color-icon-info-hover: var(--color-blue-700);
  --color-icon-info-pale: var(--color-blue-500);
  --color-icon-info-alt: var(--color-blue-200);
  --color-icon-info-alt-hover: var(--color-blue-300);
  --color-icon-grape: var(--color-grape-600);
  --color-icon-grape-alt: var(--color-grape-200);
  --color-icon-dark-blue: var(--color-dark-blue-600);
  --color-icon-dark-blue-alt: var(--color-dark-blue-200);
  --color-icon-turquoise: var(--color-turquoise-600);
  --color-icon-turquoise-alt: var(--color-turquoise-200);
  --color-icon-on-color: var(--color-neutral-950);

  --color-surface-base-page: var(--color-base-black);
  --color-surface-base-background: var(--color-neutral-950);
  --color-surface-base-primary: var(--color-neutral-900);
  --color-surface-base-primary-hover: var(--color-neutral-800);
  --color-surface-base-primary-pressed: var(--color-neutral-700);
  --color-surface-base-secondary: var(--color-neutral-800);
  --color-surface-base-secondary-hover: var(--color-neutral-700);
  --color-surface-base-secondary-pressed: var(--color-neutral-600);
  --color-surface-base-tertiary: var(--color-neutral-700);
  --color-surface-base-tertiary-hover: var(--color-neutral-600);
  --color-surface-base-tertiary-pressed: var(--color-neutral-500);
  --color-surface-base-quaternary: var(--color-neutral-600);
  --color-surface-base-quaternary-hover: var(--color-neutral-500);
  --color-surface-base-quaternary-pressed: var(--color-neutral-400);

  --color-surface-elements-accent: var(--color-orange-700);
  --color-surface-elements-accent-hover: var(--color-orange-600);
  --color-surface-elements-accent-pressed: var(--color-orange-500);
  --color-surface-elements-sub-accent: var(--color-orange-900);
  --color-surface-elements-sub-accent-hover: var(--color-orange-800);
  --color-surface-elements-sub-accent-pressed: var(--color-orange-700);
  --color-surface-elements-error: var(--color-red-700);
  --color-surface-elements-error-hover: var(--color-red-600);
  --color-surface-elements-error-pressed: var(--color-red-500);
  --color-surface-elements-sub-error: var(--color-red-900);
  --color-surface-elements-sub-error-hover: var(--color-red-800);
  --color-surface-elements-sub-error-pressed: var(--color-red-700);
  --color-surface-elements-warning: var(--color-yellow-700);
  --color-surface-elements-warning-hover: var(--color-yellow-600);
  --color-surface-elements-warning-pressed: var(--color-yellow-500);
  --color-surface-elements-sub-warning: var(--color-yellow-900);
  --color-surface-elements-sub-warning-hover: var(--color-yellow-800);
  --color-surface-elements-sub-warning-pressed: var(--color-yellow-700);
  --color-surface-elements-success: var(--color-green-700);
  --color-surface-elements-success-hover: var(--color-green-600);
  --color-surface-elements-success-pressed: var(--color-green-500);
  --color-surface-elements-sub-success: var(--color-green-900);
  --color-surface-elements-sub-success-hover: var(--color-green-800);
  --color-surface-elements-sub-success-pressed: var(--color-green-700);
  --color-surface-elements-info: var(--color-blue-700);
  --color-surface-elements-info-hover: var(--color-blue-600);
  --color-surface-elements-info-pressed: var(--color-blue-500);
  --color-surface-elements-sub-info: var(--color-blue-900);
  --color-surface-elements-sub-info-hover: var(--color-blue-800);
  --color-surface-elements-sub-info-pressed: var(--color-blue-700);
  --color-surface-elements-grape: var(--color-grape-700);
  --color-surface-elements-sub-grape: var(--color-grape-900);
  --color-surface-elements-sub-grape-hover: var(--color-grape-800);
  --color-surface-elements-dark-blue: var(--color-dark-blue-700);
  --color-surface-elements-sub-dark-blue: var(--color-dark-blue-900);
  --color-surface-elements-sub-dark-blue-hover: var(--color-dark-blue-800);
  --color-surface-elements-turquoise: var(--color-turquoise-700);
  --color-surface-elements-sub-turquoise: var(--color-turquoise-900);
  --color-surface-elements-sub-turquoise-hover: var(--color-turquoise-800);

  --color-text-primary: var(--color-neutral-50);
  --color-text-secondary: var(--color-neutral-300);
  --color-text-tertiary: var(--color-neutral-400);
  --color-text-disabled: var(--color-neutral-500);
  --color-text-accent: var(--color-orange-600);
  --color-text-accent-hover: var(--color-orange-700);
  --color-text-accent-disabled: var(--color-orange-800);
  --color-text-accent-alt: var(--color-orange-200);
  --color-text-accent-alt-hover: var(--color-orange-300);
  --color-text-error: var(--color-red-600);
  --color-text-error-hover: var(--color-red-700);
  --color-text-error-disabled: var(--color-red-800);
  --color-text-error-alt: var(--color-red-200);
  --color-text-error-alt-hover: var(--color-red-300);
  --color-text-warning: var(--color-yellow-600);
  --color-text-warning-hover: var(--color-yellow-700);
  --color-text-warning-disabled: var(--color-yellow-800);
  --color-text-warning-alt: var(--color-yellow-200);
  --color-text-warning-alt-hover: var(--color-yellow-300);
  --color-text-success: var(--color-green-600);
  --color-text-success-hover: var(--color-green-700);
  --color-text-success-disabled: var(--color-green-800);
  --color-text-success-alt: var(--color-green-200);
  --color-text-success-alt-hover: var(--color-green-300);
  --color-text-info: var(--color-blue-600);
  --color-text-info-hover: var(--color-blue-700);
  --color-text-info-disabled: var(--color-blue-800);
  --color-text-info-alt: var(--color-blue-200);
  --color-text-info-alt-hover: var(--color-blue-300);
  --color-text-grape: var(--color-grape-600);
  --color-text-grape-alt: var(--color-grape-200);
  --color-text-dark-blue: var(--color-dark-blue-600);
  --color-text-dark-blue-alt: var(--color-dark-blue-200);
  --color-text-turquoise: var(--color-turquoise-600);
  --color-text-turquoise-alt: var(--color-turquoise-200);
  --color-text-on-color: var(--color-neutral-950);
}
