@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400 900;

  src:
    url("./fonts/golos-text/golos-text_vf.woff2") format("woff2-variations"),
    url("./fonts/golos-text/golos-text_vf.woff") format("woff"),
    url("./fonts/golos-text/golos-text_vf.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-family-system:
    system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", helvetica,
    sans-serif;
  --font-family-base: "Golos Text", var(--font-family-system);

  /**
  * @tokens Fonts
  * @presenter FontFamily
  */

  --font-heading-l: 500 56px / 60px var(--font-family-base);
  --font-heading-m: 500 36px / 40px var(--font-family-base);
  --font-heading-s: 500 28px / 32px var(--font-family-base);
  --font-heading-xs: 500 24px / 28px var(--font-family-base);

  --font-subheading-xl: 500 20px / 24px var(--font-family-base);
  --font-subheading-l: 500 16px / 20px var(--font-family-base);
  --font-subheading-m: 500 14px / 16px var(--font-family-base);
  --font-subheading-s: 500 12px / 16px var(--font-family-base);
  --font-subheading-xs: 500 10px / 12px var(--font-family-base);

  --font-body-medium-l: 500 20px / 28px var(--font-family-base);
  --font-body-medium-m: 500 16px / 24px var(--font-family-base);
  --font-body-medium-s: 500 14px / 20px var(--font-family-base);

  --font-body-regular-l: 400 20px / 28px var(--font-family-base);
  --font-body-regular-m: 400 16px / 24px var(--font-family-base);
  --font-body-regular-s: 400 14px / 20px var(--font-family-base);

  --font-caption-l: 450 16px / 20px var(--font-family-base);
  --font-caption-m: 450 14px / 16px var(--font-family-base);
  --font-caption-s: 450 12px / 16px var(--font-family-base);
  --font-caption-xs: 450 10px / 12px var(--font-family-base);

  /**
  * @tokens-end
  */
}
